@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "http://diciphr-website.s3-website-us-east-1.amazonaws.com/compass/reset.scss";
@import "http://diciphr-website.s3-website-us-east-1.amazonaws.com/compass/layout.scss";
 
html, body {
    position: relative;
    padding-left: 0;
    margin: 0;
    width: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
}

body p, ul, h1 {
    margin: 0;
    padding: 0;
}

body ul {
    list-style-type: none;
}

.outside-container {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.nav-bar-container {
    padding: 2em 0;
}

img.lab-logo {
    height: 70px;
    width: auto;
}

.home-link {
    margin-left: 5%;
    margin-right: 10%;
}

nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    margin-right: 5%;
}

.nav-bar-container ul li {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;
}

.nav-bar-container a {
    text-decoration: none;
    color: black;
}

.current-tab {
    color: #51D1E8;
}

.title-join {
    margin-top: 5%;
    font-size: 3em;
    color: #51D1E8;
    font-weight: 500;
}

.job-desc {
    margin-top: 7%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: #39B7CD;
}

.footer {
    margin-top: 5%;
    background-color: #EEEEEE;
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 5%;
}

.penn-logo {
    height: 6em;
    width: auto;
}

.pennmed-logo {
    height: 5.75em;
    width: auto;
    padding-right: 15em;
}

.footy-cont {
    display: flex;
    align-items: center;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 5%;
}

.twitter {
    height: 58px;
    width: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin-top: 3%;
    text-align: center;
    font-size: 3em;
    font-weight: 550;
    color: rgb(81, 209, 232);
    padding-top: 2%;
    padding-bottom: 5%;
}


@media screen and (max-width: 768px) {
    .nav-bar-container ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-bar-container ul li {
        padding: 1em 0;
        text-align: center;
        width: 100%;
    }

    .home-link, .lab-logo {
        margin: 0 auto; /* Center the logo */
    }

    .job-desc {
        padding-left: 10%;
        padding-right: 10%;
    }

    .footer {
        flex-direction: column;
        height: auto;
        padding: 1em 5%;
    }

    .pennmed-logo {
        padding-right: 0;
    }
    .calendar-container { 
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.60); /* Scale down to 75% */ 
        transform-origin: top center; /* Ensure scaling starts from the top-left corner */ 
        background-color: transparent; /* Remove the background color */ 
        box-shadow: none; /* Remove the box shadow */
    }
}
