@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import "http://diciphr-website.s3-website-us-east-1.amazonaws.com/jobs/compass/reset.scss";
@import "http://diciphr-website.s3-website-us-east-1.amazonaws.com/jobs/compass/layout.scss";
 
/* @include sticky-footer(72px, "#layout", "#layout_footer", ".footer"); */

html,body{
    /* background-color: #333333 */
    position: absolute;
    padding-left: 0;
    margin: 0;
    width: 100%;
    /* height: 100%; */
    font-family: 'DM Sans', sans-serif;
    font-weight: 100;
    
}

body p,ul,h1{
    margin: 0;
    padding: 0;
}

body ul{
    list-style-type: none;
}



.outside-container{
    margin:0;
    padding: 0;
    /* height: auto;
    width: 100%; */
    /* max-width: 2500px; */
    /* background-color: darkkhaki; */
}

.container{
    /* margin-left: 10em;
    margin-right:10em; */
    margin:0 auto;
    padding: 0;
    /* height: auto; */
    /* width: 100%; */
    /* max-width: 1920px; */
    /* background-color: lightblue; */
    text-align: center;
}



.nav-bar-container{
    /* margin-top: 2em; */
    padding: 2em 0em;
    /* background-color: white; */
}

img.lab-logo{
    height:70px;
    width: auto;
    /* margin-left: 5%;
    margin-right: 10%; */
}

.home-link{
    margin-left: 5%;
    margin-right: 10%;
}


nav{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display: flex;
    /* justify-content: space-between; */
    /* padding: 5em; */
    /* background-color: azure; */
    margin-right: 5%;
}

.nav-bar-container ul li {
    /* background-color: brown; */
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.2em;

}

.nav-bar-container a{
    text-decoration: none;
    color: black;
}



.current-tab    {
    color: #51D1E8;
}




.title-job{
    margin-top: 5%;
    font-size: 3em;
    color: #51D1E8;
    font-weight: 500;
}

.job-desc{

    margin-top: 7%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: left;
    font-size: 1.2em;
    /* margin-bottom: 60vh; */
    line-height: 1.8em;
}

a{
    text-decoration: none;
    color: #39B7CD;
}



.footer{
    margin-top: 5%;
    background-color: #EEEEEE;
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 0 5%;

    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */

    /* position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px; */


}


.penn-logo{
    height: 6em;
    width: auto;
}

.pennmed-logo{
    height: 5.75em;
    width: auto;
    padding-right: 15em;
}


.footy-cont{
    display: flex;
    align-items: center;

    
}

.footy-cont{
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 5%;
}

.twitter{
    height: 58px;
    width:auto;
    padding-left: 3%;
    padding-right: 3%;
}


.flex-wrapper {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    justify-content: space-between;
  }














